[logging]
level = INFO

[db_conf]
host = localhost
port = 5432
database = DataCAD_simple_math_core
user = DataCAD_simple_math_core
password = DataCAD_simple_math_core

[general]
logs_path = .

[ot_simple_connector]
host = s-dev-2.dev.isgneuro.com
port = 6080
user = admin
password = 12345678

[eval_globals]
property_type = expression
plugin_name = dtcd_simple_math_core
object_id_column = primitiveID
re_object_property_name = [\.\w]+
re_numbers = ^\d+\.?\d*$

[graph_globals]
plugin_name = dtcd_simple_math_core
object_id_column = primitiveID
re_object_id_and_property = (\w+)\.(\w+)
path_to_graph = ../dtcd_simple_math_core/graphs/{0}.json

[graph_key_names]
ops_order = _operations_order
status_complete = complete