[logging]
level = INFO

[general]
logs_path = .
time_offset = 3
version = "0.1.9"

[ot_simple_connector]
host = localhost
port = 80
user = admin
password = VeryComplicatedPassword

[eval_globals]
property_type = expression
plugin_name = dtcd_simple_math_core
object_id_column = primitiveID
re_object_property_name = [\.\w]+
re_numbers = ^\d+\.?\d*$

[property_globals]
re_inport = \binPort\w+

[graph_globals]
plugin_name = dtcd_simple_math_core
object_id_column = primitiveID
re_object_id_and_property = (\w+)\.(\w+)
re_datalakenode = DataLakeNode
use_re_datalakenode = True
path_to_graph = ../dtcd_simple_math_core/graphs/{0}.json
otl_create_fresh_swt = | makeresults count=1 | eval _sn=1 | eval _t=_time | writeFile format=json path=SWT/
swt_line_index = PREVIOUS_MONTH

[graph_key_names]
ops_order = _operations_order
status_complete = complete